name: Update Task Definition
run-name: update_task
on:
  push:
    branches:
      - pipe-test

permissions:
  contents: write

jobs:
  update:
    uses: Aridhia-Open-Source/pipelines/.github/workflows/trigger-task.yml@main
    with:
      DEST_BRANCH: argo-monitor
      SOURCE_BRANCH: pipe-test
      TEMPLATE_PATH: argo/task.json
    secrets:
      SA_TOKEN: ${{ secrets.GITHUB_TOKEN }}
